
root {
  --ff-headings: Georgia, 'Times New Roman', Times, serif;
  --padding-sm: 10rem;
  --fs-smlst: clamp(0.5rem, 0.475rem + 0.125vw, 0.625rem);
  --fs-smlr: clamp(1.4rem, 1.292307692307692rem + 0.2564102564102566vw, 1.6rem);
  --fs-sm: clamp(1.6rem, 1.4923076923076923rem + 0.25641025641025633vw, 1.8rem);
  --fs-base: clamp(1.8rem, 1.6923076923076923rem + 0.25641025641025633vw, 2rem);
  --fs-bg: clamp(2rem, 1.7846153846153847rem + 0.5128205128205127vw, 2.4rem);
  --fs-bgr: clamp(2.4rem, 1.969230769230769rem + 1.025641025641026vw, 3.2rem);
  --fs-bgst: clamp(3.2rem, 2.876923076923rem + 0.7692307692307687vw, 3.8rem);
}

body{
  background-color: #F2F2F2;
  font-family: var(--ff-headings);
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.search-input{
  width: 40rem;
  border-radius: 20px;
  padding: 20px;
}

.search-button{
  font-size: var(--fs-sm);
  width: 10rem;
  padding: 10px;
  border-radius: 20px;
  font-family: 'Roboto';
  font-weight: bold;
}

.products-div{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.product-content{
  display: flex;
  width: 200px;
  font-size: var(--fs-smlst);
  background-color: whitesmoke;
}

.results-container{
  display: grid;
  grid-template-columns: auto auto auto;

}